<link rel="stylesheet" href="/css/cart.css" />

<div class="container">
    <h2 class="cart-title">Courses Cart</h2>
    <div class="cart">
        <div class="courses">
            <% courses.forEach(course => { %>
            <div class="course">
                <img src="<%= course.image %>" alt="course-image" />
                <div class="course-info">
                    <h3 class="course-name"><%= course.name %></h3>
                    <h4 class="coruse-level"><%= course.level %></h4>
                    <p class="course-description"><%= course.description %></p>
                    <div class="course-remove">
                        <form
                            action="/me/cart/remove/<%= course._id %>?_method=DELETE"
                            method="post"
                        >
                            <button class="btn btn-danger" type="submit">
                                <i class="fa fa-trash" aria-hidden="true"></i
                                >Xóa
                            </button>
                        </form>
                    </div>
                </div>
            </div>
            <% }) %>
        </div>
    </div>
    <div class="cart-total">
        <p>
            <span>Tổng tiền</span>
            <span>3,000</span>
        </p>
        <p>
            <span>Số lượng khóa học</span>
            <span><strong><%= courses.length %></strong></span>
        </p>
        <form action="/me/purchase" method="post">
            <% courses.forEach(course => { %>
            <input type="hidden" name="courseIds[]" value="<%= course._id %>" />
            <% }) %>
            <button type="submit" class="btn btn-success">Xác nhận mua</button>
        </form>
    </div>
</div>
